<center><h1>Apagar Produto</h1></center>
<br>
<form id="alinhamentoforms" action="/apagarproduto" method="post">
    <div class="col">
        <label for="exampleInputText1" class="form-label">Nome do Produto</label>
        <input type="text" name="nomeproduto" class="form-control">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Apagar Produto</button>
    <br><br>
</form>
