<center><h1>Cadastro de Produto</h1></center>
<br>
<form id="formcadastro"  action="/cadastrarproduto" method="post">
  <div class="row">
    <div class="col">
      <label for="exampleInputText1" class="form-label">Nome do Produto</label>
      <input type="text" name="nome" class="form-control">
    </div>
    <div class="col">
      <label for="exampleInputText1" class="form-label">Preço do Produto</label>
      <input type="text" name="preco" class="form-control">
    </div>
  </div>
   <div class="col">
      <label for="exampleInputText1" class="form-label">Quantidade de Produto</label>
      <input type="text" name="quantidade" class="form-control">
    </div>
  <br>
  <button type="submit" class="btn btn-primary">Cadastrar Produto</button>
  <br><br>
</form>