<main>
        <h1>Carrinho de Compras</h1>
        <ul id="itens-carrinho">
            
        </ul>
        <p>
        &nbsp;&nbsp;&nbsp;Quantidade: <span id="qtde-total">0</span>
        &nbsp;&nbsp;&nbsp;Total: R$ <span id="total-carrinho">0.0</span>
        </p>
          

        <br>
        <button id="limparcarrinho">Limpar Carrinho</button>
        <button id="botaocomprar">Comprar</button>
       
    </main>