<nav>
    <ul>
        <a href="/cadastrarproduto"><li>Cadastrar Produto</li></a>
        <a href="/listarproduto"><li>Listar Produto</li></a>
        <a href="/apagarproduto"><li>Apagar Produto</li></a>
    </ul>
</nav>