<main>
        <!-- BANNER -->
        <section id="section1">
            <img class="bannerspgprincipal" src="/img/banners/bannerecommerce12000x300.png">
        </section>

        <!-- TENIS NA PAGINA PRINCIPAL -->
        <p id="ofertasdasemana">Ofertas da Semana</p>

        <section id="section2" class="secaotenispaginaprincipal">
            <div class="tenispaginaprincipal">
                <img class="imgtenissecao" src="/img/tenis/yeezyboost350v2/cooper-removebg-preview.png"
                    alt="tenis bonito laranja">
                <p class="informacoessobrenometenis">Yeezy Boost V2 </p>
                <p class="informacoessobrevalortenis">R$ 1999,90</p>
                <p class="informacoessobrevalortenis">ou 10x 209,90</p>
            </div>
            <div class="tenispaginaprincipal">
                <img class="imgtenissecao" src="/img/tenis/yeezyboost350v2/slate-removebg-preview.png"
                    alt="tenis bonito laranja">
                <p class="informacoessobrenometenis">Yeezy Boost V2 </p>
                <p class="informacoessobrevalortenis">R$ 2499,90</p>
                <p class="informacoessobrevalortenis">ou 10x 259,90</p>
            </div>
            <div class="tenispaginaprincipal">
                <img class="imgtenissecao" src="/img/tenis/yeezyboost350v2/coreblack-removebg-preview.png"
                    alt="tenis bonito branco">
                <p class="informacoessobrenometenis">Yeezy Boost V2 </p>
                <p class="informacoessobrevalortenis">R$ 2999,90</p>
                <p class="informacoessobrevalortenis">ou 10x 309,90</p>
            </div>
            <div class="tenispaginaprincipal">
                <img class="imgtenissecao" src="/img/tenis/yeezyboost350v2/branco-removebg-preview.png"
                    alt="tenis bonito preto e branco">
                <p class="informacoessobrenometenis">Yeezy Boost V2 </p>
                <p class="informacoessobrevalortenis">R$ 1499,90</p>
                <p class="informacoessobrevalortenis">ou 10x 159,90</p>
            </div>
            <div class="tenispaginaprincipal">
                <img class="imgtenissecao" src="/img/tenis/yeezyboost350v2/yeezy-boost-v2-zebra.png"
                    alt="tenis bonito laranja">
                <p class="informacoessobrenometenis">Yeezy Boost V2 </p>
                <p class="informacoessobrevalortenis">R$ 2599,90</p>
                <p class="informacoessobrevalortenis">ou 10x 269,90</p>
            </div>
            <div class="tenispaginaprincipal">
                <img class="imgtenissecao"
                    src="/img/tenis/yeezyboost350v2/preto_e_vermelho-removebg-preview.png"
                    alt="tenis bonito laranja">
                <p class="informacoessobrenometenis">Yeezy Boost V2 </p>
                <p class="informacoessobrevalortenis">R$ 2799,90</p>
                <p class="informacoessobrevalortenis">ou 10x 289,90</p>
            </div>
        </section>


        <!-- Subtitulo Recomendamos para Você  -->
        <p id="recomendamosparavoce">Recomendamos para Você</p>

        <!-- TENIS NA PAGINA PRINCIPAL -->
        <section id="section4" class="secaotenispaginaprincipal">
            <div class="tenispaginaprincipal">
                <img class="imgtenissecao" src="/img/tenis/nike/tenis-nike-air-max-270.png"
                    alt="air max 270 tricolor nike">
                <p class="informacoessobrenometenis">Nike Air Max 270</p>
                <p class="informacoessobrevalortenis">R$ 599,90</p>
                <p class="informacoessobrevalortenis">ou 10x 69,90</p>
            </div>
            <div class="tenispaginaprincipal">
                <img class="imgtenissecao" src="/img/tenis/nike/nike-dunk-low.png" alt="nike dunk low nike">
                <p class="informacoessobrenometenis">Nike Dunk Low</p>
                <p class="informacoessobrevalortenis">R$ 1299,90</p>
                <p class="informacoessobrevalortenis">ou 10x 139,90</p>
            </div>
            <div class="tenispaginaprincipal">
                <img class="imgtenissecao" src="/img/tenis/nike/air-force1.png" alt="air force 1 nike">
                <p class="informacoessobrenometenis">Nike Air Force 1</p>
                <p class="informacoessobrevalortenis">R$ 799,90</p>
                <p class="informacoessobrevalortenis">ou 10x 89,90</p>
            </div>
            <div class="tenispaginaprincipal">
                <img class="imgtenissecao" src="/img/tenis/nike/air-max-90.png" alt="air max 90 branco nike">
                <p class="informacoessobrenometenis">Nike Air Max 90</p>
                <p class="informacoessobrevalortenis">R$ 999,90</p>
                <p class="informacoessobrevalortenis">ou 10x 109,90</p>
            </div>
            <div class="tenispaginaprincipal">
                <img class="imgtenissecao" src="/img/tenis/nike/Air_max_bolt.png" alt="air max 90 branco nike">
                <p class="informacoessobrenometenis">Nike Air Max Bolt</p>
                <p class="informacoessobrevalortenis">R$ 349,90</p>
                <p class="informacoessobrevalortenis">ou 10x 39,90</p>
            </div>
            <div class="tenispaginaprincipal">
                <img class="imgtenissecao" src="/img/tenis/nike/air_jordan1-removebg-preview.png"
                    alt="air jordan 1">
                <p class="informacoessobrenometenis">Air Jordan 1</p>
                <p class="informacoessobrevalortenis">R$ 1249,90</p>
                <p class="informacoessobrevalortenis">ou 10x 129,90</p>
            </div>
        </section>
    </main>