<section class="section01">

    <h2 id="titulopolitica">Política de Cookies</h2>

    <p class="textonormapolitica">Em <a href="/">SneakerHub</a>, nos esforçamos para honrar a privacidade
        e a segurança de quaisquer dados que coletamos dos visitantes usando nosso site, enquanto atuamos como um
        Controlador de Dados Pessoais sob regras e regulamentos relevantes de proteção de dados.
    </p>
    <br>

    <p class="textonormapolitica">Nosso site usa cookies, em combinação com pixels, objetos de armazenamento locais
        e dispositivos similares (coletivamente, "cookies" a menos que seja observado em contrário) para
        distingui-lo de outros usuários do site. Isso nos ajuda a fornecer uma boa experiência, melhorar nosso
        serviço e personalizar anúncios e conteúdo para você enquanto você usa o site.
    </p>
    <br>

    <p class="textonormapolitica">Esta política de cookies descreve os tipos de cookies que usamos no site e nossos
        propósitos para usá-los.
    </p>
    <br>

    <p class="textonormapolitica">Se você tiver dúvidas sobre este Aviso de Cookies, entre em contato conosco pelo
        e-mail [contatosneakerhub@gmail.com].</p>
    <br>


    <p class="textonormapolitica">Para obter uma descrição mais completa e lista dos cookies que usamos atualmente
        no site, revise nossa Lista de Cookies encontrada na seção 5 deste documento.
    </p>
    <br>


    <p class="textonormapolitica">Para obter mais informações sobre nossas práticas de privacidade, revise nossa
        "Política de Privacidade": <a href="../politicadeprivacidade">Política de Privacidade</a>
    </p>
    <br>


    <p class="textonormapolitica">Leia este Aviso de Cookies atentamente para obter detalhes sobre por que usamos
        cookies e as informações coletadas de você.
    </p>
    <br>


    <p class="subtitulopolitica">Definições de cookies:</p>
    <br>


    <li class="listatextopolitica">Um cookie é um pequeno arquivo de letras e números que armazenamos no seu
        navegador ou no disco rígido do seu dispositivo, que é como a memória do computador.</li>
    <li class="listatextopolitica">Cookies primários e de terceiros: se um cookie é 'primário' ou 'de terceiros'
        refere-se ao domínio que coloca o cookie.</li>
    <li class="listatextopolitica">Cookies primários são aqueles definidos por um site que está sendo visitado pelo
        usuário no momento (por exemplo, cookies colocados pelo nosso domínio do site).</li>
    <br>


    <p class="textonormapolitica">Cookies de terceiros são cookies definidos por um domínio diferente do site que
        está sendo visitado pelo
        usuário. Se um usuário visitar um site e outra entidade definir um cookie através desse site, este seria um
        cookie de terceiros.</p>
    <br>

    <p class="textonormapolitica">Cookies persistentes: esses cookies permanecem no dispositivo do usuário pelo
        período de tempo especificado
        no cookie. Eles são ativados cada vez que o usuário visita o site que criou esse cookie em particular.</p>
    <br>

    <p class="textonormapolitica">Cookies de sessão: esses cookies permitem que as operadoras de sites vinculem as
        ações de um usuário durante
        uma sessão de navegador. Uma sessão do navegador começa quando um usuário abre a janela do navegador e
        termina quando fecha a janela do navegador. Os cookies de sessão são criados temporariamente. Depois de
        fechar o navegador, todos os cookies de sessão são excluídos.</p>
    <br>


    <p class="subtitulopolitica">Quais cookies usamos e por quê?</p>
    <br>


    <p class="textonormapolitica">Geralmente, o site usa cookies para distingui-lo de outros usuários do site. Isso
        nos ajuda a proporcionar uma boa experiência ao navegar no site e também nos permite melhorá-lo. Os cookies
        que podemos usar no site podem ser categorizados da seguinte forma:</p>
    <br>

    <li class="listatextopolitica">Estritamente necessários</li>
    <li class="listatextopolitica">Desempenho</li>
    <li class="listatextopolitica">Funcionalidade</li>
    <li class="listatextopolitica">Direcionamento / Marketing</li>
    <br>


    <p class="textonormapolitica">- Alguns cookies podem cumprir mais de um desses propósitos.</p>
    <br>


    <p class="textonormapolitica">Os cookies 'Estritamente Necessários' permitem que você se mova pelo site e use
        recursos essenciais, como áreas seguras. Sem estes cookies, não podemos fornecer os serviços solicitados.
    </p>


    <p class="textonormapolitica">Usamos estes cookies estritamente necessários para:</p>

    <li class="listatextopolitica">Identificar você como sendo logado e autenticado no site</li>
    <li class="listatextopolitica">Para fins de segurança</li>
    <li class="listatextopolitica">Certificar que ao se conectar ao serviço desejado no site quando fizermos
        qualquer alteração na maneira como ele funciona ele continue operacional</li>

    <p class="textonormapolitica"> Se você impedir esses cookies, não podemos garantir como o site ou a segurança no
        site se comportaram durante a sua visita.
    </p>
    <br>

    <p class="textonormapolitica">
        Os cookies de 'Desempenho' coletam informações sobre como você usa o site, por exemplo, quais páginas você
        visita e se você experimenta algum erro. Esses cookies não coletam nenhuma informação que possa
        identificá-lo e são usados apenas para nos ajudar a melhorar o funcionamento do site, entender os interesses
        de nossos usuários e medir a eficácia de nossa publicidade.</p>


    <p class="textonormapolitica">Usamos cookies de desempenho para:</p>

    <li class="listatextopolitica">Realizar análises web: Fornecer estatísticas sobre como o site é usado</li>
    <li class="listatextopolitica">Realizar o rastreamento de afiliados: Fornecer feedback para entidades afiliadas
        que um de nossos visitantes também visitou seu site</li>
    <li class="listatextopolitica">Obter dados sobre o número de usuários do site que visualizaram um produto ou
        serviço</li>
    <li class="listatextopolitica">Ajudar-nos a melhorar o site medindo quaisquer erros que ocorram</li>
    <li class="listatextopolitica">Testar diferentes projetos para o sit;e</li>
    <br>

    <p class="textonormapolitica">- Alguns de nossos cookies de desempenho são gerenciados para nós por terceiros
    </p>
    <br>



    <p class="textonormapolitica"> Os cookies de 'Funcionalidade' são usados para fornecer serviços ou para lembrar
        de configurações para melhorar sua visita.</p>
    <br>


    <p class="textonormapolitica">Usamos cookies 'Funcionalidade' para fins como:</p>

    <li class="listatextopolitica">Lembrarnos de configurações que você aplicou, como layout, tamanho do texto,
        preferências e cores</li>
    <li class="listatextopolitica">Lembrarnos se nós já perguntamos se você quer preencher uma pesquisa</li>
    <li class="listatextopolitica">Lembrarmos se você se envolveu com um componente específico ou lista no site para que
        ele não se repita</li>
    <li class="listatextopolitica">Mostrar-lhe quando você está logado no site</li>
    <li class="listatextopolitica">Para fornecer e mostrar conteúdo de vídeo incorporado</li>
    <br>

    <p class="textonormapolitica">- Alguns desses cookies de funcionalidade são gerenciados por terceiros
    </p>
    <br>


    <p class="textonormapolitica">
        Os cookies de 'Direcionamento / Marketing" são usados para rastrear sua visita ao site, bem como outros
        sites, aplicativos e serviços online, incluindo as páginas que você visitou e os links que você seguiu, o
        que nos permite exibir anúncios direcionados para você no site.
    </p>
    <br>


    <p class="textonormapolitica">Podemos usar cookies de segmentação para:</p>
    <br>

    <li class="listatextopolitica">Exibir anúncios direcionados dentro do site.</li>
    <li class="listatextopolitica">Para melhorar a forma como entregamos anúncios e conteúdos personalizados e medir
        o sucesso das campanhas de anúncios no site</li>
    <li class="listatextopolitica">Quando exigimos seu consentimento</li>
    <br>

    <p class="textonormapolitica">Todos os cookies requerem seu consentimento.
    </p>
    <br>

    <p class="textonormapolitica">Solicitamos seu consentimento antes de colocá-los em seu dispositivo. Você pode
        dar seu consentimento clicando no botão apropriado no banner exibido para você.
    </p>



    <p class="textonormapolitica">Se você não deseja dar consentimento ou deseja retirar seu consentimento para
        quaisquer cookies a qualquer momento, você precisará excluir e bloquear ou desativar cookies através das
        configurações do seu navegador; veja abaixo para obter mais informações sobre como fazer isso. Observe que a
        desativação desses cookies afetará a funcionalidade do site e poderá impedir que você possa acessar certos
        recursos no site.
    </p>
    <br>


    <p class="subtitulopolitica">Como Excluir e Bloquear nossos Cookies</p>
    <br>

    <p class="textonormapolitica">A maioria dos navegadores da Web permite algum controle da maioria dos cookies
        através das configurações do navegador. No entanto, se você usar as configurações do seu navegador para
        bloquear todos os cookies (incluindo cookies estritamente necessários), você pode não ser capaz de acessar
        todas ou partes do site. A menos que você tenha ajustado a configuração do seu navegador para que ele recuse
        cookies, nosso sistema emitirá cookies assim que você visitar o site.
    </p>
    <br>


    <h5 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Esta política é
        efetiva a partir de 01 May 2023 17:58</h5>
    <br><br><br>



</section>