:root{
    --font-family-informacoestenis: 'Courier New ', monospace;
}

main {
    margin-left: 14rem;
    margin-right: 14rem;
    box-sizing: border-box;
}

@media (max-width: 1520px) {
    main{
        margin-left: 11rem;
        margin-right: 11rem;
    }
}
@media (max-width: 1120px) {
    main{
        margin-left: 8rem;
        margin-right: 8rem;
    }
}
@media (max-width: 900px) {
    main{
        margin-left: 6rem;
        margin-right: 6rem;
    }
}

/* ==================================================== */

/* BANNER  */

#section1 {
    margin-top: 1.5rem;
}

.bannerspgprincipal {
    display: flex;
    justify-content: center;


    width: 76vw;
    height: auto;
    max-height: 340px;
    margin: auto auto;
}

@media (min-width:2400px) {
    .bannerspgprincipal {
        width: 90rem;
    }
}

/* ==================================================== */

/* são as sections */
.secaotenispaginaprincipal {
    display: flex;
    justify-content: center;


    padding: 10px;
    margin-bottom: 1rem;
}

/* ==================================================== */

/* Sub-títulos das categorias */
#ofertasdasemana,
#recomendamosparavoce {
    font-family: system-ui, -apple-system, 'Segoe UI', 'Open Sans';
    font-size: 1.6em;
    margin-top: 1rem;

    display: flex;
    justify-content: left;
}

@media (max-width: 1500px) {
    #ofertasdasemana, #recomendamosparavoce{
        font-size: 1.5rem;
    }
}
@media (max-width: 1000px) {
    #ofertasdasemana, #recomendamosparavoce{
        font-size: 1.3rem;
    }
}

/* ==================================================== */

/* img dos tenis */
.imgtenissecao {
    width: 12.5rem;
    height: auto;
    margin-right: 40px;
}

@media (max-width: 1900px) {
    .imgtenissecao {
        width: 11rem;

    }
}
@media (max-width: 1770px) {
    .imgtenissecao {
        width: 10.50rem;

    }
}
@media (max-width: 1720px) {
    .imgtenissecao {
        width: 10rem;

    }
}
@media (max-width: 1670px) {
    .imgtenissecao {
        width: 9.5rem;

    }
}
@media (max-width: 1620px) {
    .imgtenissecao {
        width: 9rem;

    }
}
@media (max-width: 1520px) {
    .imgtenissecao {
        width: 9rem;

    }
}
@media (max-width: 1480px) {
    .imgtenissecao {
        width: 8.5rem;

    }
}
@media (max-width: 1440px) {
    .imgtenissecao {
        width: 8rem;

    }
}
@media (max-width: 1340px) {
    .imgtenissecao {
        width: 7.5rem;
        margin-right: 30px;
    }
}
@media (max-width: 1240px) {
    .imgtenissecao {
        width: 7rem;

    }
}
@media (max-width: 1210px) {
    .imgtenissecao {
        width: 6.3rem;

    }
}
@media (max-width: 1150px) {
    .imgtenissecao {
        width: 6rem;

    }
}
@media (max-width: 1050px) {
    .imgtenissecao {
        width: 5.7rem;

    }
}
@media (max-width: 1000px) {
    .imgtenissecao {
        width: 5.3rem;

    }
}
@media (max-width: 950px) {
    .imgtenissecao {
        width: 4.9rem;

    }
}
@media (max-width: 900px) {
    .imgtenissecao {
        width: 4.4rem;

    }
}
/* @media (max-width: 850px) {
    .imgtenissecao {
        width: 3.9rem;

    }
}
@media (max-width: 800px) {
    .imgtenissecao {
        width: 3.4rem;

    }
} */

/* ==================================================== */

/* Nome do tênis  */
.informacoessobrenometenis {
    font-family: var(--font-family-informacoestenis);
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 0.5px;
}

@media (max-width: 1400px) {
    .informacoessobrenometenis{
        font-size: 0.9rem;
    }
}
@media (max-width: 1300px) {
    .informacoessobrenometenis{
        font-size: 0.8rem;
    }
}
@media (max-width: 1200px) {
    .informacoessobrenometenis{
        font-size: 0.7rem;
    }
}
@media (max-width: 1100px) {
    .informacoessobrenometenis{
        font-size: 0.65rem;
    }
}
@media (max-width: 1000px) {
    .informacoessobrenometenis{
        font-size: 0.6rem;
    }
}
@media (max-width: 900px) {
    .informacoessobrenometenis{
        font-size: 0.55rem;
    }
}
@media (max-width: 800px) {
    .informacoessobrenometenis{
        font-size: 0.5rem;
    }
}

/* @media (min-width:) {

} */


/* ==================================================== */

/* Valor dos tênis */
.informacoessobrevalortenis {
    font-family: var(--font-family-informacoestenis);
    font-size: 0.75rem;
}

@media (max-width: 1400px) {
    .informacoessobrevalortenis{
        font-size: 0.7rem;
    }
}
@media (max-width: 1300px) {
    .informacoessobrevalortenis{
        font-size: 0.65rem;
    }
}

@media (max-width: 1200px) {
    .informacoessobrevalortenis{
        font-size: 0.6rem;
    }
}